<!-- index.html {mshop project} -->
{% extends "base.html" %}
{% block title %}电子商务{% endblock %}
{% block content %}
<div class='container'>
{% for message in messages %}
    <div class='alert alert-{{message.tags}}'>{{ message }}</div>
{% endfor %}
<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-default'>
            <div class='panel-heading' align=center>
                <h3>欢迎光临迷你电商<br>【{{ category.name | default:"全部产品"}}】</h3>
                {% if user.is_authenticated %}
                    {% if user.socialaccount_set.all.0.extra_data.name %}
                        {{ user.socialaccount_set.all.0.extra_data.name }}<br/>
                        <img src='{{ user.socialaccount_set.all.0.get_avatar.url }}' width='100'>
                    {% else %}
                        Welcome: {{ user.username }}
                    {% endif %}
                {% else %}
                    <p>欢迎使用GitHub或者Twitter注册/登录您的账号才能购买商品</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class='row'>
        <button class='btn btn-info'>
            目前是第{{ products.number }}页</a>
        </button>
    {% if products.has_previous %}
        <button class='btn btn-info'>
            <a href='?p={{ products.previous_page_number }}'>上一页</a>
        </button>
    {% endif %}
    {% if products.has_next %}
        <button class='btn btn-info'>
            <a href='?p={{ products.next_page_number }}'>下一页</a>
        </button>
    {% endif %}
</div> 

<div class='row'>
{% load account %}
{% for product in products %}
    {% cycle '<div class="row">' '' '' '' %}
    <div class='col-xs-3 col-sm-3 col-md-3'>
        <div class='thumbnail'>
            <img src='{{ product.image.url }}'>
            <div class='caption'>
                <h4><a href='{% url "product-url" product.id %}'>{{ product.name }}</a></h4>
                <p>NT$ {{ product.name }}</p>
                <p>库存: {{ product.price }}</p>
                <p>{{ product.description }}</p>
                {% if user.is_authenticated %}
                <button class='btn btn-info'>{{ product.stock | yesno:", disabled"}}
                    <a href='{% url "additem-url" product.id 1 %}'>放入购物车</a>
                </button>
                {% endif %}
            </div>
        </div>
    </div>

        {% cycle '' '' '' '</div>'%}
    {% empty %}
        <div class='row'>
            <div class='col-sm-12' align='center'>
                <h3>此分类目前没有任何商品</h3>
            </div>
    {% endfor %}
</div>

<div class='row'>
    {% if cart.count > 0 %}
        <em>当前购物车中共有{{ cart.count }}款产品</em>
    {% else %}
        <p>此购物车为空</p>
    {% endif %}
</div>
{% endblock %}
